<header class="sh-capcalera">
  <button type="button" class="sh-capcalera-marca" (click)="nav.anarALlistaPlans()">
    <img class="sh-capcalera-logo" src="logo.png" alt="" />
    <span class="sh-capcalera-titol">{{ ts.t('titol_app') }}</span>
  </button>

  <div class="sh-capcalera-dreta">
    <div class="sh-capcalera-usuari">
      <button type="button" class="sh-capcalera-avatar" (click)="alternarMenuUsuari()">
        {{ ts.t('capcalera_hola', [sessio.usuari()?.nom ?? '']) }}
      </button>

      @if (menuUsuariObert()) {
        <div class="sh-capcalera-fons-menu" (click)="alternarMenuUsuari()"></div>
        <div class="sh-capcalera-menu">
          <button type="button" class="sh-capcalera-menu-opcio" (click)="tancarSessio()">
            {{ ts.t('capcalera_tancar_sessio') }}
          </button>
        </div>
      }
    </div>
  </div>
</header>
