<div class="sh-entrada">
  <div class="sh-entrada-contingut">
    <img class="sh-entrada-logo" src="logo.png" alt="" />

    <h1 class="sh-entrada-titol">{{ ts.t('titol_app') }}</h1>
    <p class="sh-entrada-eslogan">{{ ts.t('eslogan_app') }}</p>

    <div class="sh-entrada-accions">
      <button type="button" class="sh-entrada-boto sh-entrada-boto--primari" (click)="sessio.anarA('login')">
        {{ ts.t('entrada_login_boto') }}
      </button>
      <button type="button" class="sh-entrada-boto sh-entrada-boto--secundari" (click)="sessio.anarA('registre')">
        {{ ts.t('entrada_registre_boto') }}
      </button>
    </div>

    <p class="sh-entrada-nota">{{ ts.t('entrada_mateix_compte') }}</p>
  </div>
</div>
